@font-face {
    font-family: 'IBM Plex Mono';
    src: url("manpage/IBM-Plex-Mono/ibmplexmono-regular-webfont.woff") format("woff");
}
button {
    -webkit-transition-duration: 0.2s;
    /* Safari */
    transition-duration: 0.1s;
    border-color: lightgray;
    border-radius: 8px;
    border-style: hidden;
    text-align-last: left;
}

body {
    background-color: black;
    padding-left: 0rem;
}

a {
    color: white;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 28px;
    height: 16px;
    margin-top: 2px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 12px;
    background-color: lightgray;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 2px;
    bottom: 2px;
    border-radius: 6px;
    background-color: black;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(12px);
    -ms-transform: translateX(126px);
    transform: translateX(12px);
}

.text-section {
    color: lightgray;
    line-height: 1.5rem;
    font-family: "IBM Plex Mono";
    font-size: 1rem;
    padding-left: 23rem;
}

.textdoc {
    color: white;
    margin-left: 2rem;
}

.navbutton button {
    font-weight: bold;
    background-color: black;
    color: lightgray;
    width: 20rem;
    height: 1.9rem;
    margin-top: 10px;
    padding: 0.3rem;
    outline: none;
    font-family: "IBM Plex Mono";
    font-size: 1rem;
}

.navbutton button:hover {
    background-color: lightgray;
    color: black;
}

.innernavbutton button {
    font-weight: bold;
    background-color: black;
    color: lightgray;
    width: 18rem;
    height: 1.9rem;
    padding: 0.3rem;
    margin-top: 10px;
    margin-left: 2rem;
    outline: none;
    font-family: "IBM Plex Mono";
    font-size: 1rem;
}

.innernavbutton button:hover {
    background-color: lightgray;
    color: black;
    font-family: "IBM Plex Mono";
    font-size: 1rem;
}

.innerinnernavbutton button {
    font-weight: bold;
    background-color: black;
    color: lightgray;
    width: 16rem;
    height: 1.9rem;
    padding: 0.3rem;
    margin-top: 10px;
    margin-left: 4rem;
    outline: none;
}

.innerinnernavbutton button:hover {
    background-color: lightgray;
    color: black;
}

.employment-children {
    display: none;
}

.courseassistant-children {
    display: none;
}

.education-children {
    display: none;
}

.skills-children {
    display: none;
}

.contact-children {
    display: none;
}

.path {
    color: #24a0ff;
    filter: contrast(.75);
}

.basicinfo {
    color: lightgray;
    font-family: "IBM Plex Mono";
    font-size: 1rem;
}

#main-entry {
    background-color: black;
    border: none;
    padding: 0;
    margin: 0;
    width: 80%;
    outline: none;
    font-family: "IBM Plex Mono";
    font-size: 1rem;
}

#prompt {
    padding-top: 0;
    font-family: "IBM Plex Mono";
    font-size: 1rem;
}

#hist {
    padding-bottom: 0.3rem;
    padding-top: 3rem;
}

#propic {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    margin-right: 1rem;
}

#sidebar {
    padding-right: 3rem;
    padding-left: 3rem;
    padding-top: 0rem;
    position: fixed;
    font-family: "IBM Plex Mono";
    font-size: 1rem;
}

#imgdiv {
    display: flex;
    flex-direction: row;
}

#mydescription {
    display: flex;
    flex-direction: column;
    font-family: "IBM Plex Mono";
    font-size: 1rem;
}

#imglink {
    color: black;
}

#termtoggle {
    display: flex;
    flex-direction: row;
}

#termlabel {
    margin-right: 3rem;
    font-family: "IBM Plex Mono";
    font-size: 1rem;
}

#gui-display-contents {
    padding-top: 1rem;
    font-family: "IBM Plex Mono";
    font-size: 1rem;
}