body {
    background-color: #333333;
}


header {
    font-family: "serif";
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    background-color: beige;
    padding: 1em;
    margin: 1em;
    border-radius: 10px;
    box-shadow: 3px 3px 9px black;
}

.body-section {
    font-family: "serif";
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    background-color: beige;
    padding: 1em;
    margin: 1em;
    border-radius: 10px;
    box-shadow: 3px 3px 9px black;
}

nav {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

nav a {
    padding: 0.5em;
    padding-top: 0em;
    color: black;
    text-decoration: none;
    font-size: 20px;
    border-radius: 5px;
}

nav a:hover {
    box-shadow: 1px 1px 3px black;
}

#top-bar {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    padding: 0.5em;
}

.title {
    padding-top: 0.1em;
    padding-left: 0.1em;
    color: black;
    text-decoration: none;
    font-size: 48px;
}

#me {
    height: auto;
    width: 10em;
    box-shadow: 1px 1px 3px black;
    border-radius: 2px;
}

.entry-header {
    padding: 0.3em;
    padding-bottom: 0em;
}

.entry-header:hover {
    box-shadow: 1px 1px 3px black;
    border-radius: 2px;
}

.entry {
    padding: 0.3em;
    padding-top: 0em;
    display: none;
}

i {
    /* 'i' sections used for the drop-down arrows */
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.right-arrow {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.down-arrow {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

h2 {
    text-decoration: underline;
}

@media screen and (max-width: 399px) {
    /* PHONE */
    header {
	flex-direction: column;
	align-items: start;
    }

    #top-bar {
	padding: 0;
	justify-content: start;
	align-items: start;
    }

    nav {
	flex-direction: column;
	justify-content: start;
	align-items: start;
    }

    nav a {
	padding: 0.2em;
    }

    #me {
	border-radius: 5em;
    }
}

@media screen and (min-width: 400px) and (max-width: 999px) {
    /* TABLET */
    header {
	flex-direction: column;
	align-items: start;
    }

    #top-bar {
	padding: 0;
	justify-content: start;
	align-items: start;
    }

    nav a {
	padding: 0.3em;
    }

    #me {
	border-radius: 1em;
    }

}

@media screen and (min-width: 1000px) {
    /* COMPUTER */

}
