button {
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.1s;
}
body {
    background-color: black;
    padding-left: 3rem;
}
a {
    color: white;
}
.text-section {
    color: lightgray;
    line-height: 1.5rem;
    font-family: "Inconsolata";
    font-size: 1.2rem;
    padding-left: 23rem;
}
.textdoc {
    color: white;
    margin-left: 2rem;
}
.navbutton button {
    font-weight: bold;
    background-color: black;
    color: lightgray;
    width: 20rem;
    border-color: lightgray;
    border-style: solid;
    border-radius: 8px;
    margin-top: 10px;
    padding: 0.5rem;
    text-align-last: center;
    outline: none;

}
.navbutton button:hover {
    background-color: lightgray;
    color: black;
}
.innernavbutton button {
    font-weight: bold;
    background-color: black;
    color: lightgray;
    width: 18rem;
    border-color: lightgray;
    border-style: solid;
    border-radius: 8px;
    padding: 0.5rem;
    margin-top: 10px;
    margin-left: 2rem;
    text-align-last: center;
    outline: none;
}
.innernavbutton button:hover {
    background-color: lightgray;
    color: black;
}
.innerinnernavbutton button {
    font-weight: bold;
    background-color: black;
    color: lightgray;
    width: 16rem;
    border-color: lightgray;
    border-style: solid;
    border-radius: 8px;
    padding: 0.5rem;
    margin-top: 10px;
    margin-left: 4rem;
    text-align-last: center;
    outline: none;
}
.innerinnernavbutton button:hover {
    background-color: lightgray;
    color: black;
}
.employment-children {
    display: none;
}
.courseassistant-children {
    display: none;
}
.education-children {
    display: none;
}
.skills-children {
    display: none;
}
.contact-children {
    display: none;
}
#main-entry {
    background-color: black;
    border: none;
    padding: 0;
    margin: 0;
    width: 80%;
    outline: none;
}
#prompt {
    padding-top: 0;
}
#hist {
    padding-bottom: 0.3rem;
    padding-top: 3rem;
}
#propic {
    max-width: 10rem;
    border-radius: 50%;
    margin-left: 5rem;
}
#sidebar {
    padding-right: 3rem;
    padding-top: 1rem;
    position: fixed;
}
#imglink {
    color: black;
}
#basicinfo {
    color: lightgray;
    font-family: "Inconsolata";
}
